# Servidor
PORT=3000
NODE_ENV=development

# Base de Datos
DB_HOST=localhost
DB_PORT=5433
DB_NAME=ecommerce_db
DB_USER=ecommerce_user
DB_PASSWORD=ecommerce_pass_2026

# JWT
JWT_SECRET=tu_secreto_jwt_aqui
JWT_EXPIRES_IN=24h

# Pasarela de Pagos (Simulación)
PAYMENT_APPROVAL_RATE=80
